<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 对应到 接口上 就不需要实例化了 -->
<mapper namespace="com.jack.springboot.mapper.AccountMapper">

	<!-- pojo对象和表之间的 字段和属性的映射关系     -->
	<resultMap type="com.jack.springboot.model.Account" id="BaseResultMap">
		<id column="id" property="id" />
		<!-- column 表里的字段  -->
		<!-- property 实体对象里的属性 -->
		<result column="login_name" property="loginName" />
		<result column="password" property="password" />
		<result column="location" property="location" />
		<result column="nick_name" property="nickName" />
		<result column="age" property="age" />
	</resultMap>
	<select id="findAll" resultMap="BaseResultMap">
		select * from account
	</select>
	<insert id="insert" parameterType="com.jack.springboot.model.Account">
		insert into account(login_name, password, location, nick_name, age)
		values(#{loginName},#{password},#{location},#{nickName},#{age})
	</insert>
</mapper>